/* CSS for my protfolio */

/* html {
    overflow-x: hidden;
    font-size: 16px;
}

body{
    background: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: "Inconsolata", monospace;
    line-height: 1.8;
    color: #7e8890;
} 

.strap-header{
    padding: 0 30px;
    width: 100%;
    z-index: 3;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: .4s all ease-out;
    transition: .4s all ease-out;
}

.strap-name{
    float: left;
    color: #ffffff;
    padding-left: 60px;
    font-size: 20;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Rubik", sans-serif
*/

/* html, body {
    padding: 0;
    margin: 0;       
} */

/* Start of header */
.header-text {
    outline: 1px solid green;
    font-family: 'EB Garamond', serif;
    background: rgba(250, 250, 250, 0.1);
    padding: 0 10px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column-reverse;
}

.name {
    outline: 1px solid blue;
    color: rbga(250,250,250, 0.9);
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    /* width: 100%;
    height: 80%; */
}

.nav-container {
    outline: 1px solid red;
    color: rgba(87, 90, 89, 0.9);
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.nav-text {
    /* color: rgba(87, 90, 89, 0.9);
    font-size: 15px; */
    text-decoration: none;
}

/* end of header */

/* start of section */
.myphoto {
    outline: 1px solid brown;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/profile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    min-width: 100%;
    opacity: 0.8;
}

.myphoto-text {
    outline: 1px solid orange;
    font-size: 35px;
    opacity: 1.0;
}

.who-am-i {
    outline: 1px solid yellow;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    font-size: 25px;
    opacity: 1.0;
}