/* CSS for my protfolio */


/* Start of header */
.header-text {
    outline: 1px solid green;
    font-family: 'EB Garamond', serif;
    background: rgba(250, 250, 250, 0.1);
    padding: 0 10px;
    display: flex;
    flex-direction: column-reverse;
}

.name {
    outline: 1px solid blue;
    color: rbga(250,250,250, 0.9);
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    /* width: 100%;
    height: 80%; */
}

.nav-container {
    outline: 1px solid red;
    color: rgba(87, 90, 89, 0.9);
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.nav-text {
    text-decoration: none;
}

/* end of header */

/* start of section 1 */
.myphoto {
    outline: 1px solid brown;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/profile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    min-width: 100%;
    opacity: 0.8;
}

.myphoto-text {
    outline: 1px solid orange;
    font-size: 35px;
    opacity: none;
}

.who-am-i {
    outline: 1px solid yellow;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    font-size: 25px;
    opacity: none;
}
/* end of section 1 */

/* start of section 2 */
.portfolio {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio-text{
    outline: 1px solid red;
    display: flex;
}
.portfolio-container{
    outline: 1px solid blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

}